{% extends "system.html" %}

{% block content %}
<table class="table table-condensed">
    <thead>
    <tr>
        <td class="col-lg-1">ID</td>
        <td class="col-lg-1">标题</td>
        <td class="col-lg-3">选项</td>
        <td class="col-lg-1">答案</td>
        <td class="col-lg-1">状态</td>
        <td class="col-lg-1">创建时间</td>
        <td class="col-lg-1">过期时间</td>
        <td class="col-lg-1">奖励积分</td>
        <td class="col-lg-1">参与积分</td>
        <td class="col-lg-1">操作</td>
    </tr>
    </thead>
    <tbody>
        {% for g in guess %}
            <tr>
                <td class="col-lg-1"><a href="/api/guess{{g.id}}.json" target="_blank">{{g.id}}</a></td>
                <td class="col-lg-1"><b>{{g.title}}</b></td>
                <td class="col-lg-3">
                    {% for index,c in enumerate(g.cols) %}
                        <button class="btn btn-xs btn-info">{{index+1}}</button> {{c}} <br><br>
                    {% end %}
                </td>
                <td class="col-lg-1">
                    第<b>{{g.key + 1}}</b>行
                </td>
                <td class="col-lg-1">
                    {% if g.state == 0 %}
                        <button class="btn btn-xs btn-warning">撤销</button>
                    {% else %}
                        <button class="btn btn-xs btn-success">已发布</button>
                    {% end %}
                </td>
                <td class="col-lg-1">{{g.create_time}}</td>
                <td class="col-lg-1">{{g.expires}}天</td>
                <td class="col-lg-1">{{g.reward_score}}</td>
                <td class="col-lg-1">{{g.score}}</td>
                <td class="col-lg-1">
                    <a class="btn btn-xs btn-primary" href="/sys/guess/edit/{{g.id}}" target="_blank">编辑</a>
                </td>
            </tr>
        {% end %}
    </tbody>
</table>
<div class="btn-group">
    {% if prevpage is None or prevpage == False %}
        <a href="/sys/guess/list" class="btn btn-default" disabled="disabled">上一页</a>
    {% else %}
        <a href="/sys/guess/list-{{prevpage}}" class="btn btn-default">上一页</a>
    {% end %}
    {% if nextpage is None or nextpage == False %}
        <a href="/sys/guess/list" class="btn btn-default" disabled="disabled">下一页</a>
    {% else %}
        <a href="/sys/guess/list-{{nextpage}}" class="btn btn-default">下一页</a>
    {% end %}
</div>
{% end %}