{% extends "system.html" %}

{% block content %}
<table class="table table-condensed">
    <thead>
    <tr>
        <td>ID</td>
        <td>标题</td>
        <td class="col-lg-3">选项</td>
        <td>状态</td>
        <td>创建时间</td>
        <td>过期时间</td>
        <td>奖励积分</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
        {% for r in research %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.title}}</td>
                <td class="col-lg-3">
                    {% for c in r.cols %}
                       {{c}} <br><br>
                    {% end %}
                </td>
                <td>{{r.state}}</td>
                <td>{{r.create_time}}</td>
                <td>{{r.expires}}</td>
                <td>{{r.reward_score}}</td>
                <td><a class="btn btn-xs btn-primary" href="/sys/research/edit/{{r.id}}" target="_blank">编辑</a></td>
            </tr>
        {% end %}
    </tbody>
</table>
{% end %}