{% extends "system.html" %}

{% block content %}
<table class="table table-condensed">
    <thead>
    <tr>
        <td class="col-lg-1">ID</td>
        <td class="col-lg-1">标题</td>
        <td class="col-lg-3">选项</td>
        <td class="col-lg-1">状态</td>
        <td class="col-lg-2">创建时间</td>
        <td class="col-lg-2">过期时间</td>
        <td class="col-lg-1">奖励积分</td>
        <td class="col-lg-1">操作</td>
    </tr>
    </thead>
    <tbody>
        {% for r in research %}
            <tr>
                <td class="col-lg-1"><a href="/api/research{{r.id}}.json" target="_blank">{{r.id}}</a></td>
                <td class="col-lg-1"><b>{{r.title}}</b></td>
                <td class="col-lg-3">
                    {% for index,c in enumerate(r.cols) %}
                        <button class="btn btn-xs btn-info">{{index+1}}</button> {{c}} <br><br>
                    {% end %}
                </td>
                <td class="col-lg-1">
                    {% if r.state == 0 %}
                        <button class="btn btn-xs btn-warning">撤销</button>
                    {% else %}
                        <button class="btn btn-xs btn-success">已发布</button>
                    {% end %}
                </td>
                <td class="col-lg-2">{{r.create_time}}</td>
                <td class="col-lg-2">{{r.expires}}</td>
                <td class="col-lg-1">{{r.reward_score}}</td>
                <td class="col-lg-1">
                    <a class="btn btn-xs btn-primary" href="/sys/research/edit/{{r.id}}" target="_blank">编辑</a>
                </td>
            </tr>
        {% end %}
    </tbody>
</table>
<div class="btn-group">
    {% if prevpage is None or prevpage == False %}
        <a href="/sys/research/list" class="btn btn-default" disabled="disabled">上一页</a>
    {% else %}
        <a href="/sys/research/list-{{prevpage}}" class="btn btn-default">上一页</a>
    {% end %}
    {% if nextpage is None or nextpage == False %}
        <a href="/sys/research/list" class="btn btn-default" disabled="disabled">下一页</a>
    {% else %}
        <a href="/sys/research/list-{{nextpage}}" class="btn btn-default">下一页</a>
    {% end %}
</div>
{% end %}