{% extends "base.html" %}

{% block sys %}
<script type="text/javascript">
    $.extend({
        validLength: function (val, l){
            return val <= l;
        }
    });
    $.fn.extend(function (){

    });
</script>
<div class="menu col-lg-2">
    <ul id="menu" class="nav nav-pills nav-stacked" data-active="{{active}}">
        <li>
            <a href="#"><i class="glyphicon glyphicon-question-sign"></i>竞猜管理</a>
            <ul class="sub-nav">
                <li class="guess-edit">
                    <a href="/sys/guess/add">添加竞猜</a>
                </li>
                <li class="guess-list">
                    <a href="/sys/guess/list">竞猜列表</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="glyphicon glyphicon-signal"></i>调查管理</a>
            <ul class="sub-nav">
                <li class="research-edit">
                    <a href="/sys/research/add">添加调查</a>
                </li>
                <li class="research-list">
                    <a href="/sys/research/list">调查列表</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="glyphicon glyphicon-user"></i>客户管理</a>
            <ul class="sub-nav">
                <li class="client-list">
                    <a href="/sys/guess/list">用户列表</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="content col-lg-10">
    {% block content %}{% end %}
</div>
<style type="text/css">
    a{
        color: #888;
    }
    .nav-pills li{
        font-size: 15px;
    }
    .nav-pills i{
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 15px;
    }
    .content{
        background-color: #f9f9f9;
        padding: 50px;
    }
    .sub-nav{
        list-style-type: none;
        padding-left: 16px;
    }
    .sub-nav li{
        text-align: center;
        margin: 12px 0;
    }
    .sub-nav a{
        padding-left: 5px;
        text-decoration: none;
    }
    .sub-nav .active{
        background-color: #337ab7;
        border-radius: 4px;
    }
    .sub-nav .active a{
        color: #fff;
    }
</style>
<script type="text/javascript">
    $(document).ready(function (){
        $("."+$("#menu").attr("data-active")).addClass("active");
    });
</script>
{% end %}